ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  a {
    color: #45baf1;
  }
}
.bread-item + .bread-item {
  padding-left: 0.5rem;
}

.bread-item + .bread-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.bread-item:last-of-type {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}
